body {
  text-align: center;
}

header {
  font-size: 35px;
  font-weight: bold;
  font-family: Arial;


html {
    background-image: url('websitebackground.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

footer {
  font-size: 17px;
  font-weight: normal;
  font-family: Arial; 
  text-align: center;
}

.contact a {
  border: 3px solid white;
  border-radius: 30px;
  background: white;
  font-size: 20px;
  margin: 10px;
}
